* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #282829;
    color: #fff;
    height: 100%;
    /* overflow:hidden; */
}

.cover {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #282829;
    z-index: 999;
    transition: all 1s ease-in;
}
.cover > .cover-art {
    position: absolute;
    scale: 120%;
    height: 100%
}

.cover > .cover-box {
    position: absolute;
    height: 500px;
    width: 400px;
    top: 50px;
    background-color: #494b4b;
    border-left: 1px solid #d4ce46;
    border-right: 1px solid #d4ce46;
    border-bottom: 1px solid #d4ce46;
    border-top: 1px solid #d4ce46;
    box-shadow: 25px 25px 20px #282829;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

/* .cover-box{ 
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      align-items: center;
    
    
    } */
.form-input-name {
    position: relative;
    width: 300px;
    height: 50px;
    font-size: 25px;
    text-align: center;
}

.form-input-age {
    position: relative;
    width: 300px;
    height: 50px;
    font-size: 25px;
    padding-left: 50px;
}

.form-button {
    font-size: 20px;
    width: 200px;
}

.triforce {
    height: 200px;
    opacity: 1;
    position: absolute;
    /*   filter: invert(60%); */
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    /*   animation: fadeOutTriforce 15s ease-out forwards; */
    z-index: 1;
}

.form-line {
    /*   position: relative; */
    width: 350px;
    border: 1px solid white;
}

.form-title {
    margin-top: -20px;
    width: 100%;
    text-align: center;
}
.form-triforce {
    height: 150px;
    opacity: 1;
    position: relative;
    margin-top: -0px;
    margin-bottom: 20px;
    filter: invert(50%);
    z-index: 999;
}
.top-main-wrapper {
    height: 400px;
    overflow: hidden;
    /*   background: url(https://i.redd.it/na2p5hlw1xsy.jpg) */
}

#canvas {
    position: absolute;
    height: 400px;
    width: 100vw;
    border-bottom: 1px solid grey;
    display: block;
    top: 0;
    left: 0;
    margin: 0 0 30px 0;

    /*   margin: 0 auto; */
}

.meow {
    opacity: 0;
    height: 160px;
    position: absolute;
    filter: invert(60%);
    top: 160px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /*   animation: fadeInTriforce 10s ease-in forwards; */
}

.title {
    font-family: "Zen Tokyo Zoo", cursive;
    position: relative;
    color: #d4ce46;
    text-shadow: 1px 2px 2px #282829, 1px 2px 2px #282829, 4px 2px 2px #282829, 8px 2px 2px #282829;
    font-size: 20px;
    top: 265px;
    opacity: 0;
    z-index: 1;

    /*     animation: fadeInTitle 4s ease-in forwards; */
}

h1 {
    position: relative;
    font-size: 40px;
}

.home-menu-wrapper {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 420px;
    display: none;
    /*   border: 2px solid red; */
}
.panoramic {
    width: 100%;
    margin-bottom: 100px;
}

.default-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.line-one {
    position: relative;
    height: 2px;
    width: 50px;
    border: 2px solid #a5a202;
    rotate: 0deg;
    top: 16px;
    left: -5px;
    margin: 5px;
    animation: closeMenuFade 0.7s ease-out forwards;
}

.line-two {
    position: relative;
    height: 2px;
    width: 50px;
    border: 2px solid grey;
    rotate: 0deg;
    top: 20px;
    animation: closeMenuTwo 0.7s ease-out forwards;
}

.line-three {
    position: relative;
    height: 2px;
    width: 50px;
    border: 2px solid white;
    rotate: 0deg;
    top: -10px;
    animation: closeMenuOne 0.7s ease-out forwards;
}

.line-one-active {
    display: none;
    animation: openMenuOne 0.7s ease-out forwards;
}

.line-two-active {
    position: relative;
    height: 2px;
    width: 50px;
    border: 2px solid #a5a202;
    rotate: -45deg;
    top: 24px;
    left: -2px;
    animation: openMenuOne 0.7s ease-out forwards;
}

.line-three-active {
    position: relative;
    height: 2px;
    width: 50px;
    border: 2px solid white;
    rotate: 45deg;
    top: 20px;
    animation: openMenuTwo 0.7s ease-out forwards;
}

.menu-button {
    position: absolute;
    height: 50px;
    width: 50px;
    /*   border: 2px solid gold; */
    z-index: 30;
    right: 35px;
    top: 15px;
}

.magic {
    position: relative;
    z-index: 1;
    top: 330px;
    left: 20px;
}

.magic:hover {
    color: violet;
    text-shadow: 20px 20px 80px violet;
}

.menu {
    position: relative;
    height: 100%;
    top: -54px;
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    font-size: 20px;
    /* background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/66298ae9-8157-453f-abd2-9ed909c26eed/d57gd6w-f1fff691-9587-488c-a083-5df31a79b131.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY2Mjk4YWU5LTgxNTctNDUzZi1hYmQyLTllZDkwOWMyNmVlZFwvZDU3Z2Q2dy1mMWZmZjY5MS05NTg3LTQ4OGMtYTA4My01ZGYzMWE3OWIxMzEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZB62FGB0L6wAMseF0CcQ5hQO3CuQRxgSC6GGC7hLCjI); */
    background-color: #282829;
    padding: 20px;
    border: 2px solid grey;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.menu > * {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
}

.menu > *:hover {
    color: violet;
    box-shadow: 22px -2px 80px black;
}

.forrest-dude-one {
    height: 200px;
}
.forrest-dude-two {
    position: absolute;
    height: 200px;
    width: 250px;
    bottom: 5px;
    right: 10px;
}
.forrest-dude-three {
    height: 800px;
}

.symbols {
    position: absolute;
    bottom: 0;
}
.daily-details {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    display: none;
}

.question-of-the-day {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    display: inline-block;
    border: 1px solid gold;
    padding: 20px;
}

.the-question {
    border-bottom: 1px dotted grey;
    text-align: center;
    padding: 20px 0;
}

.answer-wrapper {
    /* border: 2px solid red; */

    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.answer-options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.submit-answer {
    height: 40px;
    width: 150px;
    background-color: goldenrod;
    position: relative;
    left: 82px;
}

@media only screen and (max-height: 700px) {
    .cover > .cover-box {
        position: absolute;
        height: 100%;
        width: 400px;
        top: 0px;
        background-color: #494b4b;
        border-left: 1px solid #d4ce46;
        border-right: 1px solid #d4ce46;
        border-bottom: 1px solid #d4ce46;
        border-top: 1px solid #d4ce46;
        box-shadow: 25px 25px 20px #282829;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 850px) {
    .title {
        font-size: 14px;
    }

    .meow {
        height: 100px;
    }

    h1 {
        font-size: 20px;
        margin-top: 40px;
    }

    pre {
        font-size: 14px;
    }

    .magic {
        font-size: 50px;
    }
    /* .menu > * { */
    /*     font-size: 20px; */
    /* } */
    .menu {
        /*     padding: 60px 0; */
        gap: 40px;
        justify-content: center;
        top: -49px;
    }
}

.cute-link {
    height: 200px;
}

.forrest-dude-one {
    height: 200px;
}
.forrest-dude-two {
    height: 200px;
    margin-left: 60px;
    margin-top: 100px;
}
.forrest-dude-three {
    height: 800px;
}

@keyframes closeMenuOne {
    0% {
        rotate: 45deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes closeMenuTwo {
    0% {
        rotate: -45deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes openMenuOne {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -45deg;
    }
}

@keyframes openMenuTwo {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 45deg;
    }
}
@keyframes closeMenuFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showContent {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}

@keyframes fadeOutTriforce {
    0% {
        opacity: 1;
        top: 210px;
        height: 400px;
        z-index: 1;
        filter: brightness(80%);
    }
    100% {
        opacity: 0.3;
        top: 160px;
        height: 200px;
        z-index: 3;
        filter: brightness(0%);
    }
}

@keyframes fadeInTriforce {
    0% {
        opacity: 0;
        top: 110px;
        filter: brightness(0%);
    }
    100% {
        opacity: 0.8;
        top: 180px;
        filter: brightness(100%);
        z-index: 5;
    }
}

@keyframes fadeInTitle {
    0% {
        opacity: 0;
        left: 100%;
        right: 0;
        filter: brightness(0%);
    }
    100% {
        opacity: 1;
        left: 50%;
        right: 50%;
        transform: transition(-50%, -50%);
        filter: brightness(100%);
    }
}

@keyframes closeMain {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
